<h1 class="animated fadeIn fast">para mas commics</h1>
<hr>
<p class="animated fadeIn">
    ¿Es Elon Musk igual a Lex Luthor? no, de hecho es imposible eso, Lex Luthor es un supergenio que es mas inteligente que varias razas alienigenas, de hecho incluso llego a clonar a doomsday (si esto en los comics pasa en verdad) y a superman en multiples
    ocaciones robado los poderes de superman en una ocacion , e inclusive fusionar su adn con el de superman para tener a SuperBoy (al menos en young justice es asi)en cambio los mayores inventos de Elon Musk no fueron hechos por el, sino que fueron hechas
    en su empresa, por otros personas y trabajadores para despues llevarse todo el credito, mas bien diria que Musk es el edison de nuestra actualidad,solo un empresario que piensa en las ganancias y en la reputacion que el trabajo propio
</p>